<html>
  <head>
    <link rel="stylesheet" href="/public/css/index.css" />
    <script src="/public/js/index.js"></script>

    <title>Home || [Project's Name]</title>

    <div class="navbar">
      <figure>
        <img src="#" />
      </figure>

      <div class="tabs">
        <h5>Home <a href="index.ejs"></a></h5>
        <h5>Chatroom <a href="chatroom.ejs"></a></h5>
        <h5>Register <a href="register.ejs"></a></h5>
      </div>
    </div>
  </head>

  <body>
<a href="/newroom">Create New Room</a>
    <h1>Join the live chats</h1>
    <p>Lorem ipsum</p>

    <table>
      <tr>
        <% for(var i=0;i<rooms.length;i++){ %>
          <td>
            <h3><%= rooms[i].id %></h3>
            <figure>
              <img src="">
            </figure>
            <h4><%= rooms[i].name %></h4>
            <h5><%= rooms[i].description %></h5>
            <p>Lorem ipsum</p>
            <button type="button">
              <a href="/chatroom?rid=<%= rooms[i].id %>">Join Now!</a>
            </button>
          </td>
            <% if((i+1)%3 === 0){ %>
            </tr><tr>
              <% } %>
        <% } %>
            </tr>
    </table>


    <figure>
      <img src="#">
      <h4>Placeholder</h4>
      <p>Placeholder for description</p>
      <button type="button">
        <a href="#">Join Now!</a>
      </button>
    </figure>

  </body>

  <footer>
    <h6>Home || [Project's Name]</h6>
    <li>
      <ul>
        Home
        <a href="index.ejs"> </a>
      </ul>
      <ul>
        Chatroom
        <a href="chatroom.ejs"> </a>
      </ul>
      <ul>
        Register
        <a href="register.ejs"> </a>
      </ul>
    </li>
  </footer>
</html>
