<h1>Log In</h1>
<form method="POST" action="/login">
  <input name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" />
</form>
<p id="error">{%= error %}</p>
