<h1>Create Account</h1>
<form method="POST" action="/register">
  <input name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input name="email" placeholder="Email" />
  <input type="submit" />
</form>
<p id="error">{%= error %}</p>
