<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Link here -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/register.css">
    <script src="/public/js/register.js"></script>

    <!-- Link here ends -->

</head>

<!-- Nav Bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Roomify</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- Navbar ends here -->

<!-- Remember to add buttons and proper descriptions! -->


<body>
    <!-- Page Content -->
    <div class="container">

    <!-- Page Content ends here -->

        <!-- Page Heading -->

        <p></p>
        <h1 class="my-4"><br> Roomify <br>
        <small>Register!</small>
        </h1>

        <!-- Page Heading ends here -->

        <!-- Rows -->
    
        <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
            <h1>Create Account</h1>
            <!-- 
            <form method="POST" action="/register" autocomplete="off">
            <input name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" />
            </form>
          -->
            


            <form method="POST" action="/register" autocomplete="off">
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="username" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Keep me signed in</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p id="error"><% if(typeof error !== "undefined"){ %><%= error %><% } %></p>
              
        </div>

    </div>

    
            <a href="/login"> Login </a>

</body>


<!-- Footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Roomify 2020 </small>
    </div>
</footer>
<!-- Footer ends-->